*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "open sans";
}

.center{
    max-width: 1280px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

@font-face{
    src:url('../fonts/OpenSans-Light.ttf');
    font-family: "open sans";
}
.html, body{
    height: 100%;
}

.header{
    width: 100%;
    padding: 0 2%;
    width: 100%;
    height: 60px;
    background-color: #212343;
}

.center img{
    margin: 19px;
    margin-left: 9%
}

.container-banner{
    padding: 0 2%;
    width: 100%;
    height: 557px;
    background-image: url('../images/header_bg.png');
}
.container-banner .center{
    height: 100%;
    max-width: 1280px;
}
.form{
    padding: 10px;
    margin-right: 5%;
    float: right;
    width: 400px;
    height: calc(100% + 30px);
    position: relative;
    top: -15px;
    border: 8px solid rgba(120, 120, 120, 0.5);
    background-color: white;
    background-clip: padding-box;
}
.form h2{
    font-weight: normal;
    font-size: 21px;
    color: #999;
}

.input-container{
    margin-top: 20px;
}

.input-container span, .form p{
    display: inline-block;
    width: 100%;
    color: #BBBBBB;
    font-size: 17px;
}

.form p{
    margin: 20px 0;
}

.input-container input[type=text]{
    margin-top: 8px 10px 8px 10px;
    width: 344px;
    height: 55px;
    padding: 8px;
    border: 1px solid #ccc
}

.input-container input[type=text]:focus{
    outline: 0;
}
.form .input-submit-container{
    text-align: center;

}

form input[type=submit]{
    font-size: 25px;
    width: 280px;
    height: 56px;
    display: inline-block;
    background-color: #363A6D;
    color: white;
    cursor: pointer;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 5px solid #4A5097;
}

form input[type=submit]:hover{
    background-color: #2d305a;
}

.container-list{
    margin-top: 100px;
    margin-left: 80px;
    float: left;
    max-width: 619px;
    width: 40%;
    height: 270px;
    background-color: rgba(33, 35, 67, 0.7);
}

.container-list ul{
    list-style-position: inside;
}

.container-list ul li{
    margin-top: 18px;
    color: white;
    padding: 10px;
}

.container-2{
    padding: 40px 2%;
    background: #CCCCCC;
    text-align: center;
}

.container-2 h2{
    font-weight: normal;
}

.container-2 p{
    width: 100%;
    max-width: 768px;
    margin: 15px 0;
    display: inline-block;
    text-align: justify;
}

.arrow{
    position: relative;
    top: 60px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    background-image: url('../images/arrow.png');
    background-size: 100% 100%;
}
.section-1{
    padding: 90px 2%;
}

.section-1 h2{
    text-align: center;
    color: #462663;
    font-weight: normal;
}
.container-section{
    margin-top: 40px;
    text-align: center;
}

.container-single{
    float: left;
    width: 33.333%;
    padding: 30px;
}

.container-single p{
    text-align: justify;
    padding: 10px 25px;
    width: 100%;
}

.container-single img{
    width: 70px;
}
.clear{
    clear: both;
}
footer{
    clear: both;
    background-color: #212343;
    border-top: 2px solid #888888;
    padding: 20px 0;
    text-align: center;
    color: #888;
}
footer p{
    margin-top: 8px;
}

@media screen and (max-width: 1024px){
    .header{
        height: auto;
        padding: 15px;
        text-align: center;
    }
    .header img{
        margin: 0;
    }
    .container-banner{
        height: auto;
        padding: 40px 2%;
        width: 100%;
        text-align: center;
        
    }
    .form{
        margin-top: 30px;
        max-width: 400px;
        padding: 10px;
        width: 60%;
        height: 100%;
        float: right;
        top: 0;
        
    }
    .container-list{
        padding: 30px 0;
        width: 40%;
        margin-top: 30px;
        float: left;
        display: inline-block;
        max-width: 500px;
        height: auto;   
    }

    .input-container{
    margin-top: 20px;
    }

    .input-container span, .form p{
        display: inline-block;
        width: 100%;
        color: #BBBBBB;
        font-size: 17px;
    }

    .form p{
        margin: 20px 0;
    }

    .input-container input[type=text]{
        width: 100%;
        height: 55px;
    }

    form input[type=submit]{
        max-width: 280px;
        height: 56px;
        width: 100%;
        
    }

    form input[type=submit]:hover{
        background-color: #2d305a;
    }
    
}

@media screen and (max-width: 953px){
    .container-list{
        margin: 0 auto;
        float: none;
        display: inline-block;
        width: 100%;
    }
    .form{
        margin: 30px  auto;
        float: none;
        display: inline-block;
        width: 90%;
    }
    .container-single{
        float: none;
        display: inline-block;
        width: 100%;
    }
    .container-single img{
        margin: 0 auto;
        margin-bottom: 10px;
    }
}